{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row home-text home-bg bg-image h-100">
            <div class="col-12 col-md-7 my-auto">
                <h1 class="display-3 mt-4 text-center d-none d-lg-block my-auto">
                    Discover 
                    <br>
                    Your
                    <br> 
                    Style
                </h1>
                 <h4 class="display-4 text-center d-md-block d-lg-none">
                    Discover 
                    <br>
                    Your
                    <br> 
                    Style
                </h4>
            </div>
            
            <div class="col-12 col-md-5 text-center d-none d-lg-block my-auto">
                <a href="{% url 'products' %}" class="btn btn-lg text-uppercase shop-now-btn py-3 px-4 rounded-0">Shop Now</a>
            </div>
            <div class="col-12 col-md-5 text-center d-md-block d-lg-none my-auto">
                <a href="{% url 'products' %}" class="btn text-uppercase shop-now-btn py-2 px-2 rounded-0">Shop Now</a>
            </div>
        </div>
    </div>
{% endblock %}