<div class="rand-carousel-container d-none d-md-block">
    <div class="random-carousel" data-flickity='{ "wrapAround": true, "autoPlay": true, "cellAlign": "left", "contain": true }'>
        {% for product in rand_products %}
        <div class="carousel-cell-random">
            <div>
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid carousel-img-random" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid carousel-img-random" src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                    <p class="mb-0 text-center">{{ product.name }}</p>
                    <p class="mb-0 text-center">€{{ product.price }}</p>  
            </div>
        </div>
        {% endfor %}  
    </div>   
</div>