<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
         <li class="nav-item">
            <a class="text-grey font-weight-bold nav-link mr-5" href="{% url 'products' %}" id="products-link">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="text-grey font-weight-bold nav-link mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=dresses,bottoms,tops_ts,outerwear" class="dropdown-item">All Clothing</a>
                <a href="{% url 'products' %}?category=dresses" class="dropdown-item">Dresses &amp; Skirts</a>
                <a href="{% url 'products' %}?category=bottoms" class="dropdown-item ">Bottoms</a>
                <a href="{% url 'products' %}?category=tops_ts" class="dropdown-item ">Tops &amp; Ts</a>
                <a href="{% url 'products' %}?category=outerwear" class="dropdown-item ">Outerwear</a>      
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-grey font-weight-bold nav-link mr-5" href="#" id="shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Footwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shoes-link">
                <a href="{% url 'products' %}?category=footwear" class="dropdown-item">All Footwear</a>
                <a href="{% url 'products' %}?subcategory=heels" class="dropdown-item">Heels</a>
                <a href="{% url 'products' %}?subcategory=boots" class="dropdown-item">Boots</a>
                <a href="{% url 'products' %}?subcategory=flats" class="dropdown-item">Flats</a>  
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-grey font-weight-bold nav-link mr-5" href="#" id="swimwear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Swimwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="swimwear-link">
                <a href="{% url 'products' %}?category=swimwear" class="dropdown-item">All Swimwear</a>
                <a href="{% url 'products' %}?subcategory=one_piece" class="dropdown-item">One-piece</a>
                <a href="{% url 'products' %}?subcategory=two_piece" class="dropdown-item">Two-piece</a>  
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-grey font-weight-bold nav-link mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">All Accessories</a>
                <a href="{% url 'products' %}?subcategory=bags" class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}?subcategory=sunglasses" class="dropdown-item">Sunglasses</a>
                <a href="{% url 'products' %}?subcategory=earrings,necklaces,bracelets" class="dropdown-item">Jewellery</a>  
            </div>
        </li>
        <li class="nav-item d.block d-lg-none">
            <a class="text-grey font-weight-bold nav-link mr-5" href="{% url 'contact' %}" id="contact-link">
                Contact Us
            </a>
        </li>
         <li class="nav-item">
            <a class="text-grey font-weight-bold nav-link mr-5" href="{% url 'all_posts' %}" id="blog-link">
                Blog
            </a>           
        </li>
    </ul>
</div>