<a href="{% url 'home' %}" class="nav-link main-logo-link float-left d-block d-md-none">
    <h4 class="mobile-logo">The VG</h4>
</a>
<a href="{% url 'home' %}" class="nav-link main-logo-link float-left d-none d-md-block d-lg-none">
    <h4 class="logo">The Velvet Goldmine</h4>
</a>

<li class="list-inline-item mobile-item">
    <a class="nav-link mobile-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search mobile-icon"></i></div>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="">
            <div class="input-group w-100">
                <input class="form-control rounded-0" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control form-control btn rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search pink-icon"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a class="nav-link mobile-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    
            <div><i class="fas fa-user mobile-icon"></i></div>
      
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <a class="{% if grand_total %}font-weight-bold{% else %}{% endif %} nav-link mobile-link d-block d-lg-none" href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="mobile-icon fas fa-shopping-bag"></i></div>
        </div>
    </a>
</li>
