{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container-blog">
        <div class="row bag-header">
            <div class="col-10 offset-1 text-center">
                <h2 class="">{{ post.title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1 mt-4">
                <div class="blog-image h-50">
                    {% if post.image %}
                        <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1">
                <p class="mb-1 float-left">
                    {% if post.author %}
                        {{ post.author }}  
                    {% endif %}
                <span>  {{post.date_created|date:'j F, Y' }}</span> </p>
                {% if request.user.is_superuser %}
                <small class="ml-3 float-right">
                    <a class="text-pink form-link" href="">Edit</a>
                    <span class="text-black">| </span> 
                    <a class="delete-link" href="">Delete</a>
                </small>
            {% endif %}
            </div>
        </div>
        <hr class="pink-divider w-75">

        <div class="row">
            <div class="col-10 offset-1">
                <p class="mb-2 float-left">{{ post.intro }}</p>
                <p class="mb-4 float-left">{{post.section_one}}</p>

                <p class="mb-4 float-left">{{post.section_two}}</p>
                <p class="mb-4 float-left">{{post.section_three}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1">
                <a href="{{post.original_url}}" target="_blank" class="btn shop-btn rounded-0 float-right">Read the full article here</a>
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1 float-right">
                {% if post.source %}
                <small class="text-muted"><em>credit: {{post.source}} <a href="{{post.original_url}}" target="_blank">original article</a></em></small>
                {% endif %}
            </div>
        </div>        
    </div>

                      
                      
                     
                        
                 
              


{% endblock %}