<div class="rand-carousel-container d-none d-md-block">
    <div class="random-carousel bag-carousel" data-flickity='{ "wrapAround": true, "autoPlay": true, "cellAlign": "left", "contain": true }'>
         <div class="carousel-cell-bag carousel-img">
                <a href="{% url 'products' %}?category=dresses">
                <div class="img-overlay"></div>
                <img src="/media/dress_main.png" class="img-fluid">
                <h4 class="centered-bag"><strong>Dresses &amp; Skirts</strong></h4>
            </a>
        </div>
        <div class="carousel-cell-bag carousel-img">    
            <a href="{% url 'products' %}?category=bottoms">
                <div class="img-overlay"></div>
                <img src="/media/pant_main.png" class="img-fluid">
                <h4 class="centered-bag"><strong>Bottoms</strong></h4>
            </a>
        </div>
        <div class="carousel-cell-bag carousel-img">
            <a href="{% url 'products' %}?category=tops_ts">
                <div class="img-overlay"></div>
                <img src="/media/top_main.png" class="img-fluid">
                <h4 class="centered-bag"><strong>Tops &amp; Ts</strong></h4>
            </a>
        </div>
        <div class="carousel-cell-bag carousel-img">
                <a href="{% url 'products' %}?category=outerwear">
                <div class="img-overlay"></div>
                <img src="/media/coat_main.png" class="img-fluid">
                <h4 class="centered-bag"><strong>Outerwear</strong></h4>
            </a>
        </div>
        <div class="carousel-cell-bag carousel-img">
            <a href="{% url 'products' %}?category=footwear">
                <div class="img-overlay"></div>
                <img src="/media/shoe_main.png" class="img-fluid">
                <h4 class="centered-bag"><strong>Footwear</strong></h4>
            </a>
        </div>
        <div class="carousel-cell-bag carousel-img">
            <a href="{% url 'products' %}?category=swimwear">
                <div class="img-overlay"></div>
                <img src="/media/swim_main.png" class="img-fluid">
                <h4 class="centered-bag"><strong>Swimwear</strong></h4>
            </a>
        </div>
        <div class="carousel-cell-bag carousel-img">
                <a href="{% url 'products' %}?subcategory=bags">
                <div class="img-overlay"></div>
                <img src="/media/bag_main.png" class="img-fluid">
                <h4 class="centered-bag"><strong>Bags</strong></h4>
            </a>
        </div>
        <div class="carousel-cell-bag carousel-img">
                <a href="{% url 'products' %}?subcategory=sunglasses">
                <div class="img-overlay"></div>
                <img src="/media/sun_main.png" class="img-fluid">
                <h4 class="centered-bag"><strong>Sunglasses</strong></h4>
            </a>
        </div>
        <div class="carousel-cell-bag carousel-img">
                <a href="{% url 'products' %}?subcategory=earrings,necklaces,bracelets">
                <div class="img-overlay"></div>
                <img src="/media/jewel_main.png" class="img-fluid">
                <h4 class="centered-bag"><strong>Jewellery</strong></h4>
            </a>
        </div>
    </div>   
</div>